body {
    background-image: url(../images/brickWall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 30px;
}

h1 {
    text-decoration: bold;
    color: white;
    text-align: center;
}

label {
    font-size: large;
    color: white;
    text-align: left;
}

#addTaskButton {
    align-self: flex-end;
    width: 100px;
}

.deleteTaskButton {
    width: 100px;
}

#taskInputs {
    margin-top: 40px;
    margin-bottom: 40px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}

.form-control, .form-select {
    height: 40px;
}

#taskIn {
    width: 375px;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    border: 8px double black;
}

th, tf, td {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.form-switch {
    transform: scale(1.35);
}

.form-check-input {
    background-color: white;
    border-color: green;
    transform: scale(1.35);
}

.form-check-input:checked {
    background-color: green;
    border-color: green;
    transform: scale(1.35);
}

.taskPriorityImage {
    width: 24px;
    height: auto;
}