body {
    background-color: bisque;
    margin: 0;
}

h1 {
    text-align: center;
}

#belowTitle {
    margin: 20px;
}

#taskInputs {
    margin-top: 30px;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, tf, td {
    border: 1px solid black;
    padding: 10px;
}

.taskPriorityImage {
    width: 24px;
    height: auto;
}

.deleteTask, .taskCheckbox, .noBorderTable {
    border: none;
    text-align: center;
}

.taskCheckboxInput {
    transform: scale(1.5);
}